pip == 22.2.2
datasets
sentence-transformers
pandas
numpy
tqdm ==4.64.1
sklearn
streamlit
spacy>=3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm